<!-- <link href="../styles.css" rel="stylesheet" type="text/css"> -->

<!-- Required meta tags -->
<div class = "results">
<body background ="/static/" class="img-fluid1" alt="Responsive image">
<h2>Write Your Own Review</h2>
<form action="/submit_review/{{id}}" method="POST">
  <label>Title: </label><br>
  <input type="text" name="title"><br>
  <label>Stars:</label>
  <select name="stars">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
  </select><br>
  <label>Contents:</label><br>
  <textarea name="review" cols="40" rows="6"></textarea><br>
  <button type="submit">Submit</button>
</form>
<h1 id = list>Restaurant List</h1>
<h1>{{first.restaurant_name}}</h1>
<p>Address: {{first.address}}</p>
<p>Category: {{first.category}}</p>
  {{#each results}}
  <h1>{{name}}</h1>
<h1>{{title}}</h1>
<p>Stars: {{stars}}</p>
<p>Review: {{review}}</p>
<p>Review id: {{id}}</p>
  {{/each}}

</body>
</div>
